@model LocalFile

@{ 
    ViewData["Title"] = "Convert";
}

<h1>Convert</h1>

<form asp-action="Convert" enctype="multipart/form-data">

    <input asp-for="FirstName" placeholder="Your first name" required/>
    <input asp-for="LastName" placeholder="Your last name" required/>
    <input asp-for="MyFile" required/>

    <input type="submit" />
</form>